@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font-text{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared links */
 .navbar-links{
    display: flex;
 }

.text-gray{
    color:#131313;
}
.text-light-gray{
    color:#424242;
}

.text-dark-gray{
    color: #727272;
}

:root{
    --primary-color:#FF900E;
    --secondary-color:#727272;
    --footer-bg-color:#FFF4E7;
}

/* header links */
.bg-light{
    background-color:rgba(255, 144, 14, 0.1)
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.head0{
    font-size:2.8rem;
    font-weight: bold;
}

.nav-links .nav-item{
list-style: none;
}

.nav-links .nav-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width:850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content .head1{
    font-size: 4rem;
    font-weight: bold;
}
.banner-content .par0{
    font-size: 1rem;
    margin: 1.5rem 0;
}

.banner-content .btn-primary{
    background-color: #FF900E;
    padding: 20px 1.5rem;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
    border: none;
}

.image-title{
    width:100%;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 8rem;
}
.image-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams{
    align-items: center;
    
}
.title-right{
    width:540px;
    margin-left: 4.5rem;
}
.title-right .head2{
    font-size: 2.8rem;
}
.purpal{
    font-size: 2.8rem;
    color: #FF900E;
}
.title-right .par1{
    margin: 24px 0 32px 0;
    font-size: 1rem;
}
.title-right .btn-primary{
    background-color: #FF900E;
    padding: 20px 1.5rem;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
.featueres {
   gap: 146px;
   
}

.featueres-left .head5{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.featueres-left .par4{
      font-size: 1rem;
      color: #424242;
      margin-bottom: 30px;
}
.featueres-child{
    margin-bottom: 1.25rem;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 0 3px rgb(244, 242, 242);
}
.featueres-child .head6{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.featueres-child .par5{
    font-size: 1rem;
    color: #424242;
}
.btn-class{
    background-color: var(--primary-color);
    color: white;
    padding: 45px 42px;
    border-radius: 8px;
    border: none;
    margin-left: -100px;
    margin-top: -100px;
}
.btn-class .span1{
    font-size: 65px;
    font-weight: bold;
}
.btn-class .span2{
    font-size: 25px;
    font-weight: 500;
}
.title-facts .head3{
    font-size:2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.title-facts .par2{
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 100px;
    color: var(--secondary-color);
}
.container-facts{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 124px;
    text-align: center;
    margin-bottom: 180px;
    
}
.fact{
    padding: 45px 35px 60px 36px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}
.fact .fact-num{
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0;
}

.fact .fact-name{
    font-size: 20px;
    font-weight: 600;
}

.sponspors-info{
    text-align: center;

}
.sponspors-info .head4{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.sponspors-info .par3{
    font-size: 1rem;
}
.image-icons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155px;
    margin-top: 3.6rem;
    margin-bottom: 130px;
}
.image-icons .img-icon{
    filter: grayscale(100%);
    /* filter: invert(100%); */

}
.footer-container{
    background-color: var(--footer-bg-color);
    text-align: center;
    margin: 0 40px;
    margin-bottom: 210px;
    border-radius: 8px;

}
.footer-container .par4{
    background-color: var(--footer-bg-color);
    padding: 2.6rem;
    font-size: 1.25rem;
    color:#424242;
    
} 
@media screen and (max-width:576px) {
      .navbar,
      .nav-links,
      .teams,
      .featueres{
        flex-direction: column;
        margin-right: 0px;
      }
      .navbar{
        width: 100%;

      }
      .navbar .head0{
        width: 100%;
      }
      .image-left,.container-facts,.image-icons{
        grid-template-columns: 1fr;
      }
      .title-right{
        margin-left: 30px;
        width:100%;
        margin: 20px auto;
      }

      .featueres .featueres-right img{
        width: 100%;
      }
      .featueres .btn-class{
        margin-top: 20px;
        margin-left: 20px;
      }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .navbar,
    .nav-links,
    .teams{
      flex-direction: column;
    }
    .image-left{
        grid-template-columns: 1fr;
      }

      .container-facts,.image-icons{
        grid-template-columns:repeat(2,1fr);
        margin: 10px;
      }
     
      .featueres{
        flex-direction: column;
         }
         .featueres-right img{
            width: 100%;
         }
      .featueres .btn-class{
        margin-top: 20px;
        margin-left: 20px;
      }
      .title-right{
        margin: 15px auto;
      }
}